.sidebar {
    border-radius: 8px;
    border: 4px solid black;
    width: 370px;
    height: 100px;
}

.sidebar div {
    margin: 0;
}

.sidebar div p {
    width: 70px;
    margin: 0 10px;
}

.sidebar button {
    margin-top: 5px;
}

.btns {
    height: 30px;
}


.winner {
    width: 100%;
    top: 220px;
    left: 155px;
}

.lost {
    width: 100%;
    top: 220px;
    left: 155px;
}

#playAgain {
    top: 300px;
    left: 309px;
}
